<!--<div class="row no-collapse-1">-->

<!--  <section class="4u"  *ngFor="let user of siteusers">-->
<!--&lt;!&ndash;    <a href="#" class="image featured"><img src="../../assets/images/saho.jpg" alt=""></a>&ndash;&gt;-->
<!--    <div class="box">-->
<!--      <h1>{{user.firstName}} </h1>-->
<!--      <h3> Actor : {{user.lastName}} </h3>-->
<!--      <h3> Actress : {{user.email}}</h3>-->
<!--      <h3>Producer : {{user.level}}</h3>-->
<!--      <h3>Budget : {{user.dob}}</h3>-->
<!--&lt;!&ndash;      <button class="offset-md-1 col-md-3 btn btn-success" routerLink="/movie/{{movie._id}}">Details</button>&ndash;&gt;-->

<!--    </div>-->
<!--    <br/><br/>-->
<!--  </section>-->
<style type="text/css">

  .owl-slide {
    /*background-image: url('https://images.unsplash.com/photo-1437915015400-137312b61975?fit=crop&fm=jpg&h=800&q=80&w=1200');*/
    background-repeat: no-repeat; background-size: cover;background-position: center;
  }

</style>



<div style="text-align:center;margin: -35px -60px !important;max-height: 700px;overflow: hidden !important;">

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide ><img src="assets/images/banner4.jpg"></ng-template>
    <ng-template carouselSlide><img src="assets/images/banner3.png"></ng-template>
    <ng-template carouselSlide><img src="assets/images/banner1.jpg"></ng-template>


  </owl-carousel-o>

</div>

 <div class="text-center">

   <h1 id="mainMenuText">
     Main Menu

   </h1>


 </div>
<section class="service_area">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
         <a routerLink="/drink">
        <div class="service_item">
          <img src="assets/images/food/breakfast/sandwiches/eggmuffin.jpg" alt="egg muffin" height="140" width="140" style="border-radius: 10px; padding: 5px">
          <h3>Pizzas</h3>
          <p>Lorem ipsum dolor sit amet, cont tempor incididunt ut labore dolor adipiscing elit, sed do eiusmod et  magna aliquaquat officia.</p>
          <a class="read_mor_btn" href="#">Read More</a>
        </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a routerLink="/drink">
        <div class="service_item" >
          <img src="assets/images/drinks/coldcoffee/coldbrews/pumpkincoffee.jpg" alt="pumpkin coffee" height="140" width="140" style="border-radius: 10px; padding: 5px">
          <h3>Drinks</h3>
          <p>Lorem ipsum dolor sit amet, cont tempor incididunt ut labore dolor adipiscing elit, sed do eiusmod et  magna aliquaquat officia.</p>
          <a class="read_mor_btn" href="#">Read More</a>
        </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
         <a routerLink="/drink">
        <div class="service_item">
          <img src="assets/images/food/breakfast/sandwiches/chickenwrap.jpg" alt="chicken wrap" height="140" width="140" style="border-radius: 10px; padding: 5px">
          <h3>Burgers</h3>
          <p>Lorem ipsum dolor sit amet, cont tempor incididunt ut labore dolor adipiscing elit, sed do eiusmod et  magna aliquaquat officia.</p>
          <a class="read_mor_btn" href="#">Read More</a>
        </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
         <a routerLink="/drink">
        <div class="service_item">
          <img src="assets/images/food/Bakery/CakesPies/StrawberryCakePop1.jpg" alt="Strawberry Cake" height="140" width="140" style="border-radius: 10px; padding: 5px">
          <h3>Drinks</h3>
          <p>Lorem ipsum dolor sit amet, cont tempor incididunt ut labore dolor adipiscing elit, sed do eiusmod et  magna aliquaquat officia.</p>
          <a class="read_mor_btn" href="#">Read More</a>
        </div>
        </a>
      </div>
    </div>
  </div>
</section>


