<h3 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">Your cart</span>
  <span class="badge badge-primary badge-pill pull-right">{{products.length}}</span>
</h3>
<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of products">
    <div class="row">
      <div class="col-lg-8">
        <h6 >{{product.name}}</h6>
      </div>
      <div class="col-lg-4">

        <span class="text-muted"> {{product.price | currency}}</span>

      </div>
    </div>

  </li>
  <hr>
  <li class="list-group-item d-flex justify-content-between">
    <span>Total </span>
    <strong> {{totalValue | currency}}</strong>
  </li>
  <br/>
  <a class="btn btn-success col-lg-12" routerLink="/drink">Continue Shipping</a>
  &nbsp;&nbsp;&nbsp;<a class="btn btn-info col-lg-12" routerLink="/checkout">Checkout</a>


</ul>
